<div class="p-4">
  <div class="container">
    <div class="card">
      <h3 class="card-header">{{ isAddMode ? 'Add Department' : 'Edit Department' }}</h3>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': f.name.touched && f.name.errors }">
            <div *ngIf="f.name.touched && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea formControlName="description" class="form-control"></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary mr-1" [disabled]="form.invalid">Save</button>
            <a routerLink="/departments" class="btn btn-secondary">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
